*{
    padding: 0;
    margin:0;
}

.full_container{
    overflow: hidden;
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
    background-color: #F8EFBA;
    
}

.margin-up{
    margin-top: 20px;
}

.subTitle{
    font-weight: bold;
    
}

.quote-paragraph{
    font-size: 20px;
}

.super-margin-up{
    margin-top: 50px;
}